* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font: 300 13px/1.6 Roboto, Helvetica, Arial;
  color: #444;
  position: relative;
  text-align: center;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1070px;
  padding: 0 15px;
  text-align: center;
}

.page-title {
  margin: 10px 0 0 0;
}
.profile-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px -10px;
}

.profile-card {
  width: 25%;
  border-radius: 2px;
  overflow: hidden;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12); */
  margin: 10px 0px;
  padding: 0px 10px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.profile-card header {
  display: block;
  position: relative;
  text-align: center;
  padding: 30px 0 20px;
  z-index: 1;
  overflow: hidden;
}
.profile-card header img {
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1), 0 6px 2px rgba(0, 0, 0, 0.1);
}

.profile-card header h1 {
  font-weight: 200;
  font-size: 30px;
  color: #444;
  margin: 0;
  padding: 0;
}

.profile-card header h2 {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

.profile-card .profile-bio {
  padding: 0 30px;
  text-align: center;
  color: #888;
}

.profile-card header h2 span {
  font-weight: 600;
}

.profile-card:hover {
  background-color: rgb(243 243 243);
}

.form-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  width: 100%;
  padding: 30px 0;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination li {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0px 12px;
  color: #222;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.pagination li:hover {
  background-color: #8b8b8b;
  border-radius: 100%;
  color: #fff;
}
.is-active {
  background-color: #8b8b8b;
  border-radius: 100%;
  color: #fff;
}
.form-raw {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
  flex-wrap: wrap;
}

.form-field {
  display: flex;
  /* width: 100%; */
  width: 33.33%;
  padding: 0px 10px;
  margin: 10px -20px;
  justify-content: start;
}

.form-field label {
  font-size: 15px;
  font-weight: 500;
  padding: 2.5px 0px;
  margin-right: 5px;
  display: flex;
  justify-content: end;
  width: 25%;
}

.form-field input[type="text"] {
  width: 221px;
  background-color: #eaeef2;
  border: 1px solid #dedede;
  height: 29px;
  border-radius: 4px;
  padding: 0 8px;
  margin-left: 5px;
  width: 75%;
}

.form-field select {
  width: 75%;
  background-color: #eaeef2;
  border: 1px solid #dedede;
  height: 29px;
  border-radius: 4px;
  padding: 0 8px;
  margin-left: 5px;
}

.particular-profile-card {
  display: flex;
  width: 100%;
  margin: 10px 0px;
  flex-direction: row;
}

.particular-profile-card-left {
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.particular-profile-card-left img {
  width: 60%;
}
.particular-profile-card-left h1 {
  font-weight: 200;
  font-size: 30px;
  color: #444;
}
.particular-profile-card-left h1 > span,
h2 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #666;
}
.Alive {
  font-weight: 600;

  color: green;
}
.Dead {
  font-weight: 600;
  color: red;
}
.unknown {
  font-weight: 6 00;
  color: #666;
}
.particular-profile-card-left a {
  /* width: 60%; */
  margin: 2px 0px;
  border: 1px solid #282828;
  padding: 7px 15px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 18px;
  background-color: #282828;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.particular-profile-card-left p:hover {
  color: #282828;
  background-color: #fff;
}

.particular-profile-card-left a:hover {
  color: #282828;
  background-color: #fff;
}

.particular-profile-card-right {
  width: 50%;
}

.particular-profile-card-right h1 {
  font-weight: 200;
  font-size: 30px;
  color: #444;
}

.episode-link {
  display: flex;
  flex-direction: column;
  padding: 2.5px 0px;
}

.particular-profile-card-right p {
  display: none;
}

.back-btn {
  text-decoration: none;
  margin: 10px 0px;
  width: 200px;
  margin: 2px 0px;
  border: 1px solid #282828;
  padding: 7px 15px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 18px;
  background-color: #282828;
  color: #fff;
  cursor: pointer;
}
.back-btn:hover {
  background-color: #fff;
  color: #282828;
}
.toggle-button {
  width: 100%;
  display: flex;
}
.text,
.icon {
  text-decoration: none;
  width: 15%;
  margin: auto;
  border: 1px solid #282828;
  padding: 7px 0px;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 18px;
  background-color: #282828;
  color: #fff;
  cursor: pointer;
}
.text:hover {
  background-color: #fff;
  color: #282828;
}

.icon {
  display: none;
}

@media screen and (max-width: 991px) {
  .profile-card {
    width: 33.33%;
  }

  .form-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-raw {
    padding: 0px 10px;
  }
  .back-btn {
    padding: 4px 15px;
  }
}
@media screen and (max-width: 767px) {
  .profile-card {
    width: 50%;
  }

  .pagination li {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 18px;
    color: #222;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }

  .form-field {
    width: 50%;
  }
  .form-field label {
    justify-content: start;
  }
}
@media screen and (max-width: 650px) {
  .particular-profile-card {
    flex-direction: column;
  }

  .particular-profile-card-left {
    width: 100%;
  }
  .particular-profile-card-left a {
    display: none;
  }

  .particular-profile-card-right {
    width: 100%;
  }
  .particular-profile-card-right h1 {
    border-top: 1px solid #282828;
    margin: 10px 0 0 0;
  }
  .a-link {
    display: inline-block;
    margin: 10px 0px;
    border: 1px solid #282828;
    padding: 7px 15px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 18px;
    background-color: #282828;
    color: #fff;
    text-decoration: none;
  }

  .a-link:hover {
    color: #282828;
    background-color: #fff;
  }

  .form-field {
    display: flex;
    width: 100%;
    margin: 0px 0px 10px 0px;
  }

  .text {
    width: 20%;
  }
}
@media screen and (min-device-width: 220px) and (max-device-width: 480px) {
  .profile-cards {
    flex-direction: column;
  }

  .profile-card {
    width: 100%;
  }
  .profile-card:hover {
    background-color: rgb(243 243 243);
  }

  .particular-profile-card {
    flex-direction: column;
  }
  .pagination li {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    padding: 1px 1px;
  }

  .back-btn {
    font-size: 15px;
    width: 150px;
    padding: 5px 15px;
  }

  .text {
    display: none;
  }
  .icon {
    display: block;
  }
}
